.menu {
    background-color: #ffffff;
    position: relative;
    height: 60px;
    position: sticky;
    top: 0;
}

.banner {
    background-color: #ffffff;
}

.banner img {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10%;
    width: 250px;
}

.danhmuc {
    background-color: #0099ff;
    width: 10%;
    height: 50px;
    margin-left: 10%;
    margin-top: 5px;
    margin-bottom: 5px;
    float: left;
    transition: 0.3s;
}
.more a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.more div {
    margin: 5px 20px;
    padding: 15px;
    height: 50px;
    display: inline-block;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu>ul>li {
    display: inline-block;
    position: relative;
}

.menu ul li a {
    display: block;
    color: white;
    padding: 15px;
    text-decoration: none;
}

.menu ul li ul li a {
    background-color: white;
    color: #000;
}

.menu ul li ul li a:hover {
    color: #0099ff;
}

.menu ul li ul li:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
    border: 1px solid #0099ff;
}

.menu ul ul {
    display: none;
    background-color: #ffffff;
    min-width: 200px;
    box-shadow: 0px 16px 16px 0px rgba(0, 0, 0, 0.2);
}

.menu ul ul li {
    width: 100%;
}

.menu ul li:hover>ul {
    display: block;
}

.danhmuc:hover {
    transform: scale(1.1);
}

.more div:hover {
    background-color: #e2e2e2;
    cursor: pointer;
    scale: 1.1;
}

.more div:hover a {
    color: #0099ff;
}

@media screen and (max-width: 1600px) {
    .menu {
        flex-direction: column;
        height: auto;
    }

    .danhmuc {
        height: auto;
        width: 100%;
        text-align: center;
        margin-left: 0;
    }

    .danhmuc ul {
        width: 100%;
    }

    .more {
        flex-direction: 200px;
        width: 100%;
        margin-left: 0;
    }

    .more div {
        width: 100%;
        text-align: center;
        margin: 5px 0;
    }
    #slide-banner {
        display: none;
    }
}